<nav class="navbar navbar-fixed-top header">
    <span class="navbar-brand navbar-default header">
    <a href="#/user/{{model.userId}}/website/{{model.webId}}/page">
         <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
    </a>
    </span>
    <span class="navbar-brand header-text text-right">Edit Page</span>
    <span class="navbar-brand navbar-default pull-right header">
        <a calss="navbar-link" ng-click="model.updatePage(model.page)">
            <span class="glyphicon glyphicon-ok header-icon"></span>
        </a>
    </span>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="model.page.name" type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <a class="btn btn-danger btn-block" ng-click="model.deletePage(model.page._id)">Delete</a>
    </form>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user footer-text"></span>
            </a>
        </div>
    </div>
</footer>