<nav class="navbar navbar-fixed-top header">
        <span class="navbar-brand navbar-default header">
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
        </a>
        </span>
    <span class="navbar-brand header-text text-right">Widget Edit</span>
    <span class="navbar-brand navbar-default pull-right header">
            <a ng-click="model.updateWidget(widget)">
                <span class="glyphicon glyphicon-ok header-icon"></span>
            </a>
        </span>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Widget-Heading">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Widget-Text">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input ng-model="model.widget.size" type="number" class="form-control" id="size" placeholder="Number">
        </div>
        <a class="btn btn-danger btn-block" ng-click="model.deleteWidget(widget)">Delete</a>
    </form>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user footer-text"></span>
            </a>
        </div>
    </div>
</footer>