<nav class="navbar navbar-fixed-top header">
        <span class="navbar-brand navbar-default header">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
        </a>
        </span>
    <span class="navbar-brand header-text text-right">Text Edit</span>
    <span class="navbar-brand navbar-default pull-right header">
            <a ng-click="model.updateWidget(widget)">
                <span class="glyphicon glyphicon-ok header-icon"></span>
            </a>
        </span>
</nav>

<div class="container-fluid contentPadding">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="row">Rows</label>
            <input ng-model="model.widget.rows" type="text"  class="form-control" id="row" value= {{widget.rows}}>
        </div>
        <div class="form-group">
            <label for="placeholder">Placeholder</label>
            <input ng-model="model.widget.placeholder" type="text"  class="form-control" id="placeholder" placeholder="example">
        </div>
    </form>
    <a class="btn btn-danger  btn-block" ng-click="model.deleteWidget(widget)">Delete</a>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user footer-text"></span>
            </a>
        </div>
    </div>
</footer>