<nav class="navbar navbar-fixed-top header">
        <span class="navbar-brand navbar-default header">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
        </a>
        </span>
    <span class="navbar-brand header-text text-right">HTML Edit</span>
    <span class="navbar-brand navbar-default pull-right header">
            <a ng-click="model.updateWidget(widget)">
                <span class="glyphicon glyphicon-ok header-icon"></span>
            </a>
        </span>
</nav>


<div class="container-fluid contentPadding">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],
             ['bold','italics','underline','strikeThrough'],
             ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
             ['indent','outdent'],['html']]">
        </div>
        <a ng-click="model.deleteWidget(widget)" class="btn btn-danger btn-block">Delete</a>
    </form>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user footer-text"></span>
            </a>
        </div>
    </div>
</footer>
