<nav class="navbar navbar-fixed-top header">
        <span class="navbar-brand navbar-default header">
        <a href="#/user/{{model.userId}}/website/{{model.webId}}/page">
            <span class="glyphicon glyphicon-chevron-left pull-left header-icon"></span>
        </a>
        </span>
    <span class="navbar-brand header-text text-right">Widgets</span>
    <span class="navbar-brand navbar-default pull-right header">
            <a href="#/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus header-icon"></span>
            </a>
        </span>
</nav>

<wam-sortable sort="model.sortWidget(start, stop)" data="model.widgets"></wam-sortable>


<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user footer-text"></span>
            </a>
        </div>
    </div>
</footer>